body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 22px;
}
section{
    padding-bottom: 100px;
}
.flex-class{
    display: flex;
    margin-left: 150px;
}
.orange-class{
    color: orange;
}
.image-class{
    width: 70%;
}
.border-class{
    margin-top: 150px;
    padding-left: 10px;
    line-height: 0.6;
    border-left: 7px solid;
    border-image: linear-gradient(tomato,red);
    border-image-slice: 1;
}
.p-class{
    margin-bottom: 30px;
}
.buton-class{
    text-decoration: none;
    color:white;
    background-color: #c01515;
    padding: 15px 30px;
    border-radius: 5px;
}
.center-class{
    text-align: center;
}
.flex-class2{
    display: flex;
}
.mision-class{ 
    width: 40%;
    margin-right: 2%;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.image-class2{
    width: 45%;
}
#img1{
    background-color:rgb(199, 230, 230);
}
.hr1{
    border: 2px dotted green;
}
#img2{
    background-color:rgb(219, 205, 243);
}
#img3{
    background-color: wheat;
    margin-right: 140px;
}
.bg-image{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    margin-left: 30px;
}
.image-class4{
    margin-left: 120px;
    width: 62%;
} 
.margin{
    width: 140%;
    margin-right: 140px;
}
.global-class{
    padding-top: 70px;
    width: 140%;
}
.global-image{
    width: 70%;
    padding-left: 40px;
    padding-bottom: 200px;
}
.bg-class{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
}
.border-class1{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 0.5;
    border: 7px solid;
    border-image: linear-gradient(tomato,black);
    border-image-slice: 3;
    width: 50%;
    margin-left: 10%;
    margin-bottom: 10px;  
}
.mision-class2{   
    background-color: rgb(233, 151, 151);
    color: white;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 70%;
}
.log{
    text-decoration: none;
    text-align: center;
    background-color: yellow;
    padding: 5px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}
